# Ignore Intellij configuration and output directories
/out/
/.idea/

# Project-specific VSCode plugins
.bloop
.metals
.vscode

# Ignore SBT directories
bin/
project/
target/
build/

# Ignore gradle directories
.gradle/
gradle